/* Main container styling */
* {
   -fx-font-family: 'Arial'
}

.mainFxmlClass {
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #bdc3c7);
    -fx-padding: 20px;
}

/* Styling for the first AnchorPane container */
.anchor-pane1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 5);
}

/* Styling for the second AnchorPane container */
.anchor-pane2 {
    -fx-background-color: #f7f7f7;
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 5);
}

/* Styling for Labels */
.label {
    -fx-font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    -fx-font-weight: bold;
}

/* Title label */
.title-label {
    -fx-font-size: 28px;
    -fx-text-fill: #8e44ad;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
}

/* Admin Login label */
.admin-login-label {
    -fx-font-size: 25px;
    -fx-text-fill: #2980b9;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
}

/* Button styling */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}

.button:hover {
    -fx-background-color: #2980b9;
}

/* Font Awesome Icon styling */
.font-awesome-icon {
    -fx-fill: #3498db;
    -fx-font-size: 100px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
}

/* Specific adjustments */
.user-icon {
    -fx-fill: #3498db;
    -fx-font-size: 10em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}

.users-icon {
    -fx-fill: #3498db;
    -fx-font-size: 10em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}
.close:hover{
    -fx-background-color:#ff3547;
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}