/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 Jun 2024, 12:41:46 pm
    Author     : Gagandeep Singh
*/
* {
   -fx-font-family: 'Arial'
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}
.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.left-form{
    -fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px;
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom, #278f96,#2d645f);
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #21a7ae,#368981);
}