* {
   -fx-font-family: 'Arial'
}
.header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #005cbf;
}

.button:pressed {
    -fx-background-color: #00438a;
}
